html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}


.container2 {  
   margin: 20px;
   background-color: #7AE582;
   padding: 30px;
   text-align: center;
   box-shadow: 10px 6px 5px rgba(0,0,0,.15);
}

.btn {
    margin-left: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
}

#phonenumber {
    width: 120px;
}